html, body {margin:0; padding:0; font-family:Arial, sans-serif; font-size:2em; background:#FFEB3B;}
.container {margin:auto; max-width:700px; text-align:center; padding:20px;}
button {max-width:200px; border:0; background:#9E9D24; padding:20px; border-radius:2px; font-size:1em; color:#fff;}
